.card-container {
    display: inline-block;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 20px;
    width: 250px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.1);
  }
  
  .card h3, .card h6 {
    margin: 10px 0;
  }
  
  .card h6 {
    font-size: 18px;
  }
  
  .card p {
    font-size: 14px;
    color: #555;
    margin: 0 0 10px 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  
  .heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .heart.liked {
    color: red;
  }
  
 
  button {
    padding: 10px 15px;
    background-color: #070435; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color:  #2b21bb; 
    transform: scale(1.05); 
  }
  